
body {
    margin: 0px;
  }
  .container {
    border-bottom: 10px solid;
    height: 10vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: larger;
    width: 100%;
    flex-wrap: wrap;
  }
  .left_portion {
    width: 10%;
    display: flex;
    justify-content: center;
  }
  .mid_portion ul {
    display: flex;
    list-style: none;
  }
  .right_portion {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    align-items: center;
    margin-left: auto;
    justify-content: center;
  }
  
  .mid_portion a {
    text-decoration: none;
  }
  .mid_portion li
  {
    padding: 15px;
  }
  .right_portion a {
    text-decoration: none;
  }
  .right_portion li {
    list-style: none;
  }
  .right_portion li {
    padding: 10px;
  }
  
  .Search input[type="text"] {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    background-position-y: center;
    background-image: url("icons8-search-24.png");
    text-indent: 20px;
    background-repeat: no-repeat;
  }
  .Home {
    color: #f18735;
    font-weight: bold;
  }
  
  .right_portion > .Apply-Now a{
    color: #f18735;
    font-weight: bold;
  }